<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
    <add name="SkillBridgeConnection"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=SkillBridge;Integrated Security=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    <sessionState mode="InProc" timeout="30" />
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
